<div class="text-field">  
  <%= form.label :email %>
  <%= form.text_field :email, :type => 'email', :style=>"width: auto;"  %>
</div>

<div class="password-field">
  <%= form.label :password %>
  <%= form.password_field :password, :style=>"width: auto;"  %>
</div>