<div id="sub_navigation">
	<ul>
  		<li id="li_submenu"><a id="submenu_item" href="<%=user_path(@user)%>">My account</a></li>
  		<li id="li_submenu"><a id="submenu_item" href="<%=users_path(@users)%>">Users</a></li>
	</ul>
</div>
