 	<tr id="t_project" class="<%= project.status %>">        
        <td><%= project.name %></td>
        <td><%= project.customer.name %></td>
        <td><%= link_to 'Show', project_path(project) %></td>
        <td></td>
 	</tr>
