<div id="sub_navigation">
	<ul>
  		<li id="li_submenu"><a id="submenu_item" href="<%=my_roles_path(@roles)%>">My roles</a></li>
  		<li id="li_submenu"><a id="submenu_item" href="<%=roles_path(@roles)%>">Roles</a></li>
	</ul>
</div>