<% content_for :sub_navigation do %>
	<%= render 'submenu'%>
<%end%>

<% content_for :content do %>
	<h2 class="simple">new assignment to project</h2><br>
	<%= render 'form' %>
	<%= link_to 'Back', roles_path %>
<%end%>