<div id="sub_navigation">
	<ul>
  		<li id="li_submenu"><a id="submenu_item" href="<%=reports_path(@reports)%>">My timesheet</a></li>
  		<li id="li_submenu"><a id="submenu_item" href="<%= week_reports_path %>">My week</a></li>
	</ul>
</div>
