<div id="login_wrapper">

  <div id="login_box_wrap">
    <div id="login_box">
        <h2 class="simple" style="width: 50%;">Verde s.r.o. LOGIN</h2> 
         <hr id="hr_strong"><br>
        <%= yield :log_content %>
    </div>
  </div>

</div>

 <%= render template: "layouts/application" %>